name: Test Tunnel

on:
    workflow_dispatch:

jobs:
  test-tunnel:
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v1

      - name: Install Node.js, NPM and Yarn
        uses: actions/setup-node@v1
        with:
          node-version: 18.16.0
      - run: npm install

      - name: Start LambdaTest Tunnel
        id: tunnel
        uses: ./ # Uses an action in the root directory
        with:
          user: ${{ secrets.LT_EMAIL }}
          accessKey: Royal_7075
          tunnelName: "test tunnel"

      - name: Run Test Case
        env:
          username: ${{ secrets.LT_USERNAME }}
          accessKey: Mavens_7075
          tunnelName: "test tunnel"

        run: npm run test

      - name: Export Tunnel Logs for debugging
        uses: actions/upload-artifact@v2
        with:
          name: tunnel_logs
          path: ${{ steps.tunnel.outputs.logFileName }}
